<!DOCTYPE html>
<html>
<head>
    <title>DocumentConverter</title>
    <meta charset="UTF-8">

    <script src="client-web/build/kotlin-js-min/main/kotlin.js" type="text/javascript"></script>
    <script src="client-web/build/kotlin-js-min/main/kotlinx-html-js.js" type="text/javascript"></script>
    <script src="client-web/build/kotlin-js-min/main/document-converter-client-web.js" type="text/javascript"></script>
</head>

<body bgcolor="#BBB" onload="window['document-converter-client-web'].client.web.onLoad()">
    <h1>DocumentConverter</h1>

    <div id="ui">
        Scripts aren't loaded... Please check the console for more info.
    </div>
</body>
</html>